[submodule "frontend"]
	path = frontend
	url = git@github.com:Coduction/Famulex_Frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:Coduction/Famulex_Backend.git
[submodule "keycloak"]
	path = keycloak
	url = git@github.com:Coduction/Famulex_Keycloak_SPI.git
